.home-head{
    padding: 10rem 4rem;
    margin: 2rem 12%;
    color: white;
    background: no-repeat center right/550px url(../assets/home/desktop/image-hero-phone.png), bottom right no-repeat url(../assets/home/desktop/bg-pattern-hero-home.svg), hsl(11, 73%, 66%);
    border-radius: .5rem;
}
.home-head .text-cont{
    width: 50%;
}
.home-head .text-cont h2{
    margin-bottom: 2rem;
}
.home-head .text-cont p{
    margin-bottom: 3rem;
}

@media screen and (max-width: 1100px){
    .home-head{
        margin: 2rem 8%;
        height: 800px;
        padding: 4rem;
        background: no-repeat center 300px/550px url(../assets/home/desktop/image-hero-phone.png), bottom right no-repeat url(../assets/home/desktop/bg-pattern-hero-home.svg), hsl(11, 73%, 66%);
    }
    .home-head .text-cont{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .home-head .btn-light{
        width: fit-content;
        margin: 0 auto;
    }
}
@media screen and (max-width: 800px){
    .home-head{
        padding: 2rem;
        background: no-repeat center 300px/550px url(../assets/home/desktop/image-hero-phone.png), bottom right no-repeat url(../assets/home/desktop/bg-pattern-hero-home.svg), hsl(11, 73%, 66%);
    }
    .home-head .text-cont{
        width: 100%;
    }
    .home-head .text-cont h2{
        margin-bottom: 1rem;
    }
    .home-head .text-cont p{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 600px){
    .home-head{
        margin: 0;
        padding: 4rem 1rem;
        border-radius: 0;
        background: no-repeat center 300px/550px url(../assets/home/desktop/image-hero-phone.png), bottom right no-repeat url(../assets/home/desktop/bg-pattern-hero-home.svg), hsl(11, 73%, 66%);

    }
    .home-head .text-cont{
        width: 100%;
    }
    .home-head .text-cont h2{
        font-size: 25px;
        line-height: 30px;
    }
    .home-head .text-cont p{
        padding: 0 1rem;
        font-size: 14px;
    }
}