.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 2rem;
    z-index: 2;
}
.filter{
    width: 100%;
    height: 100vh;
    display: none;
    position: absolute;
    top: 263px;
    opacity: .5;
    background-color: black;
}
.nav .logo-cont {
    height: 26.72px;
}
.nav .logo-cont img{
    width: 200px;
}
.menu-cont {
    display: none;
    cursor: pointer;
    z-index: 1;
}
.menu-cont span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: black;
    margin-bottom: .25rem;
    transition: 150ms ease;
}
.close .one{
    transform: translateY(4px) rotate(45deg); 
}
.close .two{
    display: none;
}
.close .thr{
    transform: translateY(-4px) rotate(-45deg);
}
.nav-links{
    width: 350px;
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 0;
    background-color: none;
}
.nav-links .link{
    text-decoration: none;
    color: hsl(264, 5%, 20%);
    text-transform: uppercase;
}
.nav-links .link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    .menu-cont{
        display: block;
    }
    .nav-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        left: 0;
        padding: 2rem 8%;
        background-color: hsl(264, 5%, 20%);
        z-index: 2;
    }
    .nav-links .link{
        font-size: 20px;
        color: white;
        margin-bottom: 1rem;
    }
    .nav-links .link:hover{
        text-decoration: none;
    }
    .links-hidden{
        display: none !important;
    }
    .filter{
        display: block;
    }
    .filter-hidden{
        display: none;
    }
}